body { 
  background-color: #161616 !important;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto !important;
  flex-wrap: nowrap !important;
}

.row  > * {
  width: unset !important;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.overlay {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}